.password-form {
    margin-top: 50px;
    text-align: center;

    i {
        background: #222;
        width: 144px;
        height: 144px;
        font-size: 70px;
        line-height: 140px;
        display: block;
        font-weight: 500;
        margin: 20px auto 30px;
        color: #fff;
        text-align: center;
        cursor: default;
        border: 1px solid rgba(black, 0.4);
        border-radius: 15%;
    }

    label {
        margin-right: 3px;
    }

    .form-group + p {
        display: inline;
    }

    .password-error {
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
    }
}
